# Ignore TypeScript source files
src/

# Ignore test files
*.spec.ts
*.test.ts

# Ignore TypeScript configuration files
tsconfig.json
*.tsbuildinfo
babel.config.json
eslint.config.mjs
jest.config.js

# Ignore build scripts and other non-essential files
build/
*.log
*.md
.gitignore
.npmignore
.env
.babelrc
.eslintignore        
.prettierignore      
.prettierrc          
.vscode/settings.json

# Ignore node_modules and other directories
node_modules/
dist/

# Ensure that only the compiled output is included
!dist/
